<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/chapter/style.css">
    <title>Chapter</title>
</head>
<body>
    <h1>Numerical Methods</h1>
	<hr>	
    <h2>Choose a method</h2>
    <form action="/parametrization" method="POST" id="methods" class="btn-group"></form>

    <script type="text/javascript" src="static/chapter/controllers/Chapter.js"></script>   
    <script type="text/javascript" src="static/chapter/scripts.js"></script>   
</body>
</html>