<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="static/common/components/Body.css">
	<link rel="stylesheet" href="static/common/components/Button.css">
	<title>Numerical Methods</title>
</head>

<body>
	<h1>Numerical Methods</h1>
	<hr>
	<h2>Choose a chapter</h2>
	<form action="/chapter" method="POST" id="chapters" class="btn-group"></form>

	<script type="text/javascript" src="static/homepage/controllers/Homepage.js"></script>   
	<script type="text/javascript" src="static/homepage/scripts.js"></script>	
</body>
</html>