<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/common/components/Body.css">
    <link rel="stylesheet" href="static/common/components/Log.css">
    <title>Method</title>
</head>
<body>
    <h1>Numerial Methods</h1>

    <div class='graphs' style="display:none">
        <hr>
        <h2>Graphs</h2>
    </div>

    <div class='log'>
        <hr>
        <h2>Log</h2>
        <table class='table'>
            <tr>
                <th>Steps</th>
            </tr>
        </table>
    </div>
    <script type='text/javascript' src='static/method/controllers/Method.js'></script>
    <script type='text/javascript' src='static/method/scripts.js'></script>
</body>
</html>