<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/common/components/Body.css">
    <title>Numerical Methods</title>
</head>
<body>
    <h1>Numerical Methods</h1>
    <hr>
    <h2>Parameters</h2>
    <form action="/method" method="POST" class="form"></form>
    <script type="text/javascript" src="static/parametrization/controllers/Parametrization.js"></script>
    <script type="text/javascript" src="static/parametrization/scripts.js"></script>
</body>
</html>